.movieCard{
    display: flex;
}

.movieCard_img{
    height: 320px;
}
.movieCard_info{
    margin-left: 15px;
}
.movieCard_link{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
}
.title{
    color: darkslateblue;
}
.score{
    color: orange;
}
.genres{
    color: salmon;
}
.genres__title{
color: orangered;
}
.button{
    display: inline-block;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 15px;
    padding: 0;
    background-color: rgb(158, 207, 219);
    border: 0;
    color:blue;
}
