.roleImg{
    height: 150px;
}
.list{
    list-style:none;
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
}
.title{
    font-size: 18px;
    color: darkblue;
}
.character{
    color: darkgoldenrod;
}
.item{
    width: 100%;
    flex-basis: calc(100% / 5 - 20px);
    margin: 10px;
}