.title{
    font-size: 24px;
    font-weight: bold;
    color: rgb(4, 73, 137);
}
.list{
    list-style: square;
    color:rgba(237, 55, 0, 0.822);
}

.link{
    text-decoration: none;
    color: inherit;
}